
<% if @restaurant.nil? %>
  
  <h1>Cannot find a restaurant with this name</h1>

<% else %>  

  <h1> Found this restaurant for you: </h1>
    Name: <%= @restaurant.name %>
    <br>
    Address: <%= @restaurant.address %>

<% end  %>