<h1>Show Page</h1>

<% @restaurants.each do |restaurant| %>
<%= restaurant.name %>
<%= restaurant.address %>



<!-- 
3. The restaurant show page should include the 
restaurant's name (eg. PizzArte), its 
address, and a list 
of the pizzas it sells. 
The pizza should link to that pizza's
 show page. -->
